<div class="page-width page-width--narrow section-{{ section.id }}-padding">
  {% if section.settings.title != blank %}
    <div>
      <h2 class="main-page-title page-title h0 center">{{ section.settings.title | escape }}</h2>
      <h2>Hey</h2>
    </div>
  {% endif %}

  {% for member in section.blocks %}
    <div>
      <h3>{{ member.settings.name }}</h3>
      <span>{{ member.settings.title }}</span>
      <p>{{ member.settings.bio }}</p>
    </div>
  {% endfor %}
  %}
</div>

{% schema %}
  {
    "name": "team",
    "tag": "div",
    "class": "team-members",
    "settings": [
      {
        "id": "title",
        "type": "text",
        "label": "section-title",
        "default": "Meet our Team"
      }
    ],
    "blocks": [
      {
        "name": "Team Member",
        "type": "staff-profile",
        "settings": [
          {
            "id": "name",
            "type": "text",
            "label": "Name"
          }, {
            "id": "title",
            "type": "text",
            "label": "Job Title"
          }, {
            "id": "bio",
            "type": "textarea",
            "label": "Bio"
          }
        ]
      }
    ]
  }
{% endschema %}